body {
    background-color: rgb(16, 22, 24);
    font-family: "Garamond", Times, serif;
    margin: 0;
    font-size: 1.75em;
    color: rgb(230, 94, 11);
}

h1 {
    padding: 10px;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

.projectdesc p {
    padding: 0;
    margin: 0;
}

.projectdesc a{
    color: rgb(230, 62, 11);
}

ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    padding-bottom: 15px;
    margin: 0;
    gap: 10px;
}

.header {
    position: fixed;
    width: 100vw;
    background-color: rgb(29, 34, 34);
}
  
li {
    float: left;
}

.uilink:link, .uilink:visited{
    padding: 5px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(41, 46, 46);
    border-bottom: 2px solid rgb(20, 20, 20);
    border-right: 1px solid rgb(0, 0, 0);
    color: rgb(230, 62, 11);
}

.uilink:hover{
    background-color: rgb(29, 34, 34);
    border-style: none;
}

button {
    font-size: 0.8em;
    font-family: "Garamond", Times, serif;
    background-color: rgb(41, 46, 46);
    border-bottom: 2px solid rgb(20, 20, 20);
    border-right: 1px solid rgb(0, 0, 0);
    color: rgb(230, 62, 11);
}

.content{
    padding-top: 8rem;
    padding-bottom: 3rem;
    width: 80%;
    margin: auto;
}


.projectsgrid{
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

footer{
    background-color:rgb(29, 34, 34);
    display: flex;
    position: fixed;
    bottom: 0;
    height: 3rem;
    gap: 10px;
    width: 100vw;
    box-sizing: border-box;
    padding: 5px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.resume {
    display: grid;
    grid-template-columns: 50% 50%;
}
.resume iframe {
    width: 100%;
    margin-top: 10px;
}